header {
  position: relative;
  width: 100%;
  height: 60px;
  line-height: 60px;
  padding: 0 20px;
}

header::after {
  content: "";
  display: block;
  clear: both;
}

header div:nth-child(1) {
  float: left;
}

header div:nth-child(2) {
  float: right;
}

header div:nth-child(2) button {
  display: inline-block;
  width: 90px;
  height: 36px;
  line-height: 36px;
  border: 1px solid #ddd;
  color: #363D46;
  margin-left: 20px;
}

header div:nth-child(2) img {
  vertical-align: middle;
  margin-left: 20px;
}



.ad_con {
  width: 100%;
  position: relative;
}

.ad_con::after {
  content: "";
  display: block;
  clear: both;
}

.ad_con > section {
  float: left;
}

.ad_con section:nth-child(1) {
  max-width: 240px;
  min-width: 12.5%;
  height: 1080px;
  padding: 30px 20px;
}

.ad_con section:nth-child(2) {
 width: 87.5%;
 height: 1080px;
 background: #F2F6FC 0% 0% no-repeat padding-box;
 padding: 60px 125px;
} 

.ad_con .portfolio_lst {
  box-shadow: 0px 3px 16px #00000014;
  border-radius: 4px;
  background-color: #fff;
  padding: 40px 30px;
}

.ad_con .portfolio_lst div:nth-child(2) {
  margin: 30px 0 20px;
}

.ad_con .portfolio_lst div p {
  display: inline-block;
}

.ad_con .portfolio_lst div p button {
  width: 90px;
  height: 36px;
  line-height: 36px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.ad_con .portfolio_lst .thumbnail {
  display: inline-block;
  width: 253px; 
  height: 153px; 
  line-height: 153px; 
  text-align: center;
  border: 1px solid #ddd;
  background-color: #f8f8f8;
  margin-right: 20px;
}

.ad_con .portfolio_lst .thumbnail img {
  vertical-align: sub;
}

.noinput {
  display: block;
  color: #0061F2;
  font-size: 16px;
  margin-top: 10px;
}

.ad_con .portfolio_lst div p span {
  display: block;
  font-size: 14px;
  color: #999999;
}

.ad_con .portfolio_lst h3 {
  font-size: 16px;
  margin-bottom: 7px;
  height: 36px;
  line-height: 36px;
}

.ad_con .portfolio_lst em {
  font-size: 18px;
  color: #0061F2;
  margin-left: 20px;
  font-weight: bold;
}

.ad_con .portfolio_lst input {
  width: 100%;
  height: 60px;
  border-radius: 4px;
}

.thumbnail.noinputborder,
.ad_con .portfolio_lst input.noinputborder:focus {
  border: 2px solid #0068ee !important;
}


.ad_con section:nth-child(2) h2 {
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
  margin-bottom: 30px;
}

.ad_con section:nth-child(2) .portfolio_detail div:nth-child(1) {
  border-top: 1px solid #ddd;
  margin-top: 30px;
}

.ad_con section:nth-child(2) .portfolio_detail div:nth-child(1) h3 {
  margin: 47px 0 29px;
}

.ad_con section:nth-child(2) .portfolio_detail div:nth-child(1) h3 a {
  float: right;
  width: 170px;
  height: 36px; 
  line-height: 36px; 
  border: 1px solid #ddd;
  border-radius: 4px; 
  text-align: center;
}

.ad_con section:nth-child(2) .portfolio_detail div:nth-child(2) {
  position: relative;
  background-color: #f8f8f8;
  width: 100%;
  height: 190px;
  border: 2px dotted #DDDDDD;
} 

.ad_con section:nth-child(2) .portfolio_detail div:nth-child(2) button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ad_con section:nth-child(2) .portfolio_detail div:nth-child(2) button span {
  display: block;
  font-size: 16px;
  color: #999;
}

.ad_con section:nth-child(2) div ul li {
  position: relative;
  width: 1252px;
  height: 100px;
  line-height: 100px;
  background-color: #fff;
  box-shadow: 0px 3px 16px #00000014;
  border-radius: 4px;
  margin-bottom: 10px;
}

.ad_con section:nth-child(2) div ul li .tq {
  margin-bottom: 5.5px;
}

.ad_con section:nth-child(2) div ul li .qt {
  position: absolute;
  right: -50px;
  top: 38px;
}

.ad_con section:nth-child(2) div ul li b {
  padding: 0 65px 0 60px;
  font-weight: normal;
  font-size: 16px;
  color: #363D46;
}

.ad_con section:nth-child(2) div ul li span {
  padding-left: 65px;
  font-size: 16px;
}

.ad_con section:nth-child(2) div ul li p {
  float: right;
  padding-right: 20px;
}

.ad_con section:nth-child(2) div ul li a {
  display: inline-block;
  width: 90px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  border: 1px solid #DDDDDD;
  border-radius: 4px;
  background-color: #fff;
  color: #363D46;
  font-size: 16px;
}

.ad_con section:nth-child(2) div ul li a:last-child {
  margin-left: 20px;
  background-color: #4294FC;
  color: #fff;
  border: none;
}


.modify_btn {
  text-align: center;
  margin: 60px 0;
}

.modify_btn a {
  display: inline-block;
  width: 150px;
  height: 60px;
  line-height: 60px;
  border: 1px solid #ddd;
  background-color: #fff;
  border-radius: 4px;
  margin-right: 10px;
}

.modify_btn a:last-child {
  background-color: #363D46;
  color: #fff;
  margin-left: 10px;
}
