<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="all" />
	<meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no, viewport-fit=cover"/>
		<link rel="stylesheet" type="text/css" href="/resources/css/style.css"/>
		<link rel="stylesheet" href="/resources/css/admin_quality.css">
		<link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css' rel='stylesheet' type='text/css'>
		<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="/resources/js/jquery-3.4.1.min.js"></script>
	<script src="/resources/js/slick.min.js"></script>
	<script src="/resources/js/common.js"></script>
	<script src="/resources/js/front.js"></script>
	<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <title>IM</title>
</head>
<body>
	<header>
    <div>
      <img src="/resources/images/ico/logo-header.svg" alt="">
    </div>
    <div>
      <span>관리자님, 환영합니다!</span>
      <button type="button">로그아웃</button>
      <img src="/resources/images/ico/icon-profile.svg" alt="">
		</div>
	</header>
	<div class="ad_con">
		<section>
			<h2>포트폴리오 관리</h2>
			
		</section>
		<section>
			<h2>Quality 포트폴리오</h2>
			<div class="portfolio_lst">
				<div>
					<h3>글순서 <em>2번</em></h3>
				</div>
				<div>
					<h3>제목</h3>
					<input type="text">
				</div>
				<div>
					<p>
						<h3>썸네일 이미지</h3>
						<div class="thumbnail">
							<img src="/resources/images/pic/img-pf2.png" alt="">
						</div>
					</p>
					<p>
						<button type="button">이미지 수정</button>
						<span>1000*600px 해상도의 이미지로 업로드해주세요.</span>
					</p>
				</div>

				<ul>
					<h3>포트폴리오 상세</h3>
					<li>
						<b>01</b>
						<img class="tq" src="/resources/images/pic/img-pf1.png" alt="">
						<span>아이파크 연간 광고대행사</span>
						<p>
							<a href="">수정하기</a>
							<a href="">삭제</a>
						</p>
						<img class="qt" src="/resources/images/ico/icokn-order.svg" alt="">
					</li>
					<li>
						<b>01</b>
						<img class="tq" src="/resources/images/pic/img-pf1.png" alt="">
						<span>아이파크 연간 광고대행사</span>
						<p>
							<a href="">수정하기</a>
							<a href="">삭제</a>
						</p>
						<img class="qt" src="/resources/images/ico/icon-order.svg" alt="">
					</li>
				</ul>
				<div class="modify_btn">
					<a href="">편집취소</a>
					<a href="">완료</a>
				</div>
			</div>
		</section>
	</div>
</body>
<script>

</script>
</html>