<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="robots" content="all" />
<meta name="format-detection" content="telephone=no">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no, viewport-fit=cover"/>
  <link rel="stylesheet" href="/resources/css/common.css">
  <link rel="stylesheet" type="text/css" href="/resources/css/login.css"/>
  <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css' rel='stylesheet' type='text/css'>
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <script src="/resources/js/jquery-3.4.1.min.js"></script>
<script src="/resources/js/slick.min.js"></script>
<script src="/resources/js/common.js"></script>
<script src="/resources/js/front.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</head>
<body>

  <div id="container">
    <section class="login_zone">
      <div class="login_area clear">
        <div class="login_lt">
          <p>
            <img class="adhq_logo_pic" src="/resources/images/pic/logo-adhq.svg" alt="">
          </p>
        </div>
        <div class="login_rt">
          <div class="log_rt_wrap">  
            <div class="log_rt_top">
              <h2><img src="/resources/images/pic/logo-adhq.svg" alt=""></h2>
              <span>ADMIN LOGIN</span>
            </div>
            <div class="log_rt_form">
              <form action="">
                <fieldset>
                  <div class="email_form">
                    <img src="/resources/images/ico/icon-id.svg" alt="">
                    <input type="text" placeholder="아이디를 입력해주세요.">
                  </div>
                  <div class="pw_form">
                    <img src="/resources/images/ico/icon-pw.svg" alt="">
                    <input type="password" placeholder="비밀번호를 입력해주세요.">
                  </div>  
                  <div class="log_btn">
                    <a href="">로그인</a>
                  </div>
                </fieldset>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

</body>
</html>